$base-width: 30vh
$card-font-ratio: 0.8625
$card-margin-ratio: 0.975

.card
  border: 1px solid black
  border-radius: 0.5rem
  position: absolute

.container
  width: $base-width
  z-index: 2
  padding-bottom: 0 !important
  margin: auto
  margin-top: 21vh

.draw
  margin: auto
  align-items: center
  font-size: calc($base-width/10)

.result-text
  font-size: calc($base-width/15)
  text-align: center
  margin: 0
  align-items: center

.new-game
  font-size: calc($base-width/15)

.main
  color: white
  margin-bottom: 0
  font-size: calc($base-width/5)

.discard
  font-size: calc($base-width/10)
  color: white

.card-player-one
  background-color: green

.card-player-two
  background-color: blue

.card-played
  background-color: white

::ng-deep .mat-grid-tile-content
  flex-direction: column

::ng-deep .suit-red
  color: red

.face
  font-size: calc($base-width*$card-font-ratio)
  margin-bottom: calc($base-width*$card-margin-ratio)

.at-war
  background-color: red
  display: flex
  height: 100vh
  justify-content: center
  flex-direction: column

.war-text
  font-size: 27rem
  color: white
  position: absolute
  z-index: 1
  text-align: center
  width: 100%
  display: flex
  justify-content: center
  overflow: hidden

@keyframes breathing
  0%
    -webkit-transform: scale(1.05)
    -ms-transform: scale(1.05)
    transform: scale(1.05)
  50%
    -webkit-transform: scale(1)
    -ms-transform: scale(1)
    transform: scale(1)
  100%
    -webkit-transform: scale(1.05)
    -ms-transform: scale(1.05)
    transform: scale(1.05)



.winner
  animation: breathing 1s

loser


//1px solid #e3c152
